---
ansible_user: ${ansible_user}
systemd_dir: ${environment_systemd_directory}
deployment_name: ${deployment_name}
addl_admin_user: ${addl_admin_user}
extra_server_args: ""
extra_agent_args: ""
letsencrypt_email: ${letsencrypt_email}
letsencrypt_environment: ${letsencrypt_environment}
environment_domain: ${environment_domain}
docker_compose_version: ${docker_compose_version}
git_url: ${git_url}
code_server_version: ${code_server_version}
code_server_password: ${code_server_password}
cloudflare_email: ${cloudflare_email}
portainer_password: ${portainer_password}
