.terraform/
*.tfstate*
*.tfvars
*.pem
crash.log
.DS_Store
*_inventory
*/temp*
/ansible/files/
*/temp-*
/ansible/inventory/temp*
ansible/inventory/*-inventory
/ansible/vault-password.txt
/secret
secrets.yml
*.old
secret.env
passphrase
*.crt
*.key
/ansible/ansible.cfg
/ssh/*
*provider.tf
