#Include these files
!/terraform/do_default/provider.tf
!ssl-dhparams.pem
!/terraform/do_default
!/terraform/aws_spot_default
!/terraform/aws_default
!/terraform/templates

# Exclude these files
*.tfstate*
*.tfvars
*.pem
crash.log
.DS_Store
*_inventory
*/temp*
/ansible/files/
*/temp-*
/ansible/inventory/temp*
ansible/inventory/*-inventory
/ansible/vault-password.txt
/secret
secrets.yml
*.old
secret.env
passphrase
*.crt
*.key
/ansible/ansible.cfg
/ssh/*
/terraform/*
/ansible/inventory/
*.wip



