---
ansible:
  user_password: "changemeplease!!" #Base64 encoded password for the ansible user

aws:
    access_key: "xxxxxxxxxxxxxxxxxxxxx"
    secret_key: "xxxxxxxxxxxxxxxxxxxxx"
    vpc_cidr: "x.x.x.x/16" # needs to be a /16 and not overlap with existing VPCs.
    public_subnet_cidr: "x.x.x.x/24" # needs to be at least a /24 within the above /16
    availability_zone: "us-east-1a" # needs to be in the same region specified in variables.yml
    route53_zone_id: "xxxxxxxxxxxxxxxxxxx"

cloudflare:
    email: "xxxxxxxxx@xxxxxxx.com"
    api_token: "xxxxxxxxxxxxxxxxxxxxxxxxxx"
    zone_id: "xxxxxxxxxxxxxxxxxxxxxxxxx"

code_server:
    password: "xxxxxxxxxxxxxxxxxxxxxxx"

digitalocean:
    token: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
    ssh_key: ["xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx"]
    ssh_path: "~/.ssh/<privateKeyname>"
    vpc_cidr: "x.x.x.x/24"

environment:
    domain: "yourdomain.tld"
    type: "dev"

git:
    lab_url: https://github.com/AlphaBravoCompany/ab-training-labs.git
    dotfiles_url: https://github.com/AlphaBravoCompany/ab-dotfiles.git

letsencrypt:
    email: "you@yourdomain.tld"
    environment: "production"

portainer:
    password: "xxxxxxxxxxxxxxxxxxxxxx"

rancher:
    password: "xxxxxxxxxxxxxxxxxxxxxxxx"