---
ansible:
  user_password: "changemeplease!!"

aws:
    access_key: ""
    secret_key: ""
    vpc_cidr: "" # needs to be a /16
    public_subnet_cidr: "" # needs to be at least a /24 within the above /16
    availability_zone: "" # needs to be in the same region specified in variables.yml

cloudflare:
    email: ""
    api_token: ""
    zone_id: ""

code_server:
    password: ""

digitalocean:
    token: ""
    ssh_key: ["xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx"]
    ssh_path: "ssh/<privateKeyname>"
    whitelisted_ips: ["xxx.xxx.xxx.xxx"]
    vpc_cidr: ""

environment:
    domain: ""
    type: "dev"

git:
    lab_url: https://github.com/AlphaBravoCompany/ab-training-labs.git
    dotfiles_url: https://github.com/AlphaBravoCompany/ab-dotfiles.git

letsencrypt:
    email: ""
    environment: "staging"

portainer:
    password: "u6ycnd#25t7ANRa4JPKP"

rancher:
    password: ""