---
aws:
    access_key: ""
    secret_key: ""

cloudflare:
    email: ""
    api_token: ""
    zone_id: ""

code_server:
    password: ""

digitalocean:
    token: ""
    ssh_key: ["xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx"]
    ssh_path: "ssh/<privateKeyname>"
    whitelisted_ips: ["xxx.xxx.xxx.xxx"]
    vpc_cidr: ""

environment:
    domain: ""
    type: "dev"

git: # This is a git URL to automatically download to each server under /ab/labs
    url: ""

letsencrypt:
    email: ""
    environment: "staging"