# This file is intended to be committed to your internal private git repo and container limited "private" information.
---
ansible:
    do_user: "root"
    aws_user: "ubuntu"
    addl_admin_user: "abtraining"

aws:
    bucket_name: "your-bucket-name"
    bucket_region: "us-east-1"
    region: "us-east-1"
    instance_image: ami-0dd76f917833aac4b #Ubuntu 20.04 us-east-1. For other regions, filter by version "20.04 LTS" here https://cloud-images.ubuntu.com/locator/ec2/
    lab_instance_size: m5n.2xlarge #M5.xlarge is the minimum size required. Recommended m5.2xlarge (m5a, m5n work as well)
    server_count: "1" #Number of student lab servers you need
    spot_price: ".50"

cloudflare:
    provider_source: "cloudflare/cloudflare"

code_server:
    version: "3.10.2"

environment:
    systemd_directory: "/etc/systemd/system"

dns:
    service: "cloudflare" #Options are cloudflare, route53, none

docker:
    docker_compose_version: "1.29.2"

terraform:
    backend_type: "s3"
    backend_directory: "shared"
    required_version: "0.13"

digitalocean:
    region: "nyc3"
    droplet_image: "ubuntu-20-04-x64"
    lab_droplet_size: "s-8vcpu-16gb-intel"
    provider_version: "1.22.2"
    provider_source: "digitalocean/digitalocean"
    server_count: "1"

haproxy:
    server_count: "1" #Do not change this
