{
	"folders": [
		{
			"uri": "vscode-remote://{{ ansible_hostname }}.{{ environment_domain }}:11443/ab"
		}
	],
	"remoteAuthority": "{{ ansible_hostname }}.{{ environment_domain }}:11443",
	"settings": {}
}