---
version: "2.1"
services:
  code-server:
    image: rancher/rancher:v2.6.4
    container_name: rancher
    privileged: true
    volumes:
      - rancher:/var/lib/rancher
      - /ab/certs/live/{{ ansible_hostname }}.{{ environment_domain }}/fullchain.pem:/etc/rancher/ssl/cert.pem
      - /ab/certs/live/{{ ansible_hostname }}.{{ environment_domain }}/privkey.pem:/etc/rancher/ssl/key.pem
    ports:
      - 12080:80
      - 12443:443
    restart: unless-stopped
    command: '--no-cacerts'
    environment: 
      - CATTLE_BOOTSTRAP_PASSWORD={{ rancher_password }}
volumes:
  rancher: 