global
	daemon
	maxconn 1024
  tune.ssl.default-dh-param 2048

  ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:aRSA+3DES:!RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL
  ssl-default-bind-options no-sslv3

defaults
	balance roundrobin
	timeout client 60s
	timeout connect 60s
	timeout server 60s

listen stats
  bind *:10090 ssl crt /usr/local/etc/haproxy/fullchain1.pem
  balance
  mode http
  stats enable
  stats refresh 10s
  stats uri /stats
  stats auth admin:changemeplease!!

frontend http
	bind *:80
  mode http
  acl host_lab-cluster2 hdr(host) -i hello.{{ ansible_hostname }}.{{ environment_domain }}
  use_backend lab-cluster2 if host_lab-cluster2
  use_backend k8s

frontend https
  bind *:443 ssl crt /usr/local/etc/haproxy/fullchain1.pem
  mode http
  acl host_lab-cluster2 hdr(host) -i hello.{{ ansible_hostname }}.{{ environment_domain }}
  use_backend lab-cluster2 if host_lab-cluster2
  use_backend k8s

backend k8s
  balance roundrobin
  mode http
  option tcp-check
  option forwardfor
  cookie SERVERID insert indirect nocache maxlife 10s
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  server {{ ansible_hostname }}.{{ environment_domain }}_18080 {{ ansible_hostname }}.{{ environment_domain }}:18080 check inter 10s port 18080 cookie 1
  server {{ ansible_hostname }}.{{ environment_domain }}_18081 {{ ansible_hostname }}.{{ environment_domain }}:18081 check inter 10s port 18081 cookie 2

backend lab-cluster2
  balance roundrobin
  mode http
  option tcp-check
  option forwardfor
  cookie SERVERID insert indirect nocache maxlife 10s
  http-request set-header X-Forwarded-Port %[dst_port]
  http-request add-header X-Forwarded-Proto https if { ssl_fc }
  server {{ ansible_hostname }}.{{ environment_domain }}_18081 {{ ansible_hostname }}.{{ environment_domain }}:18081 check inter 10s port 18081 cookie 2

