[lab_servers]
%{ for index, name in server_name ~}
${name}.${environment_domain} ansible_host=${lab_server_ips[index]}
%{ endfor ~}

[lab_servers:vars]
ansible_ssh_user=${ansible_user}
ansible_ssh_private_key_file=${private_key}